type quaddac_app, domain;

app_domain(quaddac_app)

binder_call(quaddac_app, hal_dac_control_default)

allow quaddac_app system_app_data_file:dir create_dir_perms;
allow quaddac_app system_app_data_file:file create_file_perms;

allow quaddac_app {
  activity_service
  audioserver_service
}:service_manager find;

allow quaddac_app hal_dac_control_hwservice:hwservice_manager find;

allow quaddac_app cgroup:file w_file_perms;

allow quaddac_app system_app_data_file:dir setattr;
